<table class="table">
    <thead>
        <tr>
            <th scope="col">投稿日</th>
            <th scope="col">投稿者</th>
            <th scope="col">タイトル</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            {% include 'twig.partials.posts_row ' with {post:post} %}
        {% else %}
            <tr>
                <td clospan="3">最近の投稿がありません</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
